html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  color: #303133;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.fullWidth {
  width: 100%;
}
.el-dialog__headerbtn .el-dialog__close {
  color: #fff;
}
.el-button{
  font-size: 1.4rem!important;
}